.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #ddd;
}

.navbar h2 {
    margin: 0;
    font-size: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-right button {
    padding: 8px 14px;

    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: white;

    cursor: pointer;
}

.navbar-right button:hover {
    background-color: #f5f5f5;
}

.user {
    font-weight: 500;
}